<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapper.EduCourseMapper">
	<resultMap type="EduCourse" id="courseMap">
		<!-- private int course_id; //课程编号 -->
		<!-- private String courser_name; //课程名称 -->
		<!-- private int is_avaliable; //1正常2删除 -->
		<!-- private SysSubject subject; //课程专业ID -->
		<!-- private Date add_time; //添加时间 -->
		<!-- private int source_price; //课程原价格（只显示） -->
		<!-- private int current_price; //课程销售价格（实际支付价格）设置为0则可免费观看 -->
		<!-- private String title; //课程简介 -->
		<!-- private String context; //课程详情 -->
		<!-- private int lession_num; //总课时 -->
		<!-- private String logo; //图片路径 -->
		<!-- private Date update_time; //最后更新时间 -->
		<!-- private int page_buyCount; //销售数量 -->
		<!-- private int page_viewCount; //浏览数量 -->
		<!-- private Date end_time; //有效结束时间 -->
		<!-- private int loseType; //有效期类型，0：到期时间，1：按天数 -->
		<!-- private String lose_time; //有效期:商品订单过期时间点 -->
		<!-- private int sequence; //序列 -->
		<result column="course_id" property="course_id" />
		<result column="courser_name" property="courser_name" />
		<result column="is_avaliable" property="is_avaliable" />
		<result column="subject_link" property="subject_link" />
		<result column="add_time" property="add_time" />
		<result column="source_price" property="source_price" />
		<result column="current_price" property="current_price" />
		<result column="title" property="title" />
		<result column="context" property="context" />
		<result column="lession_num" property="lession_num" />
		<result column="logo" property="logo" />
		<result column="update_time" property="update_time" />
		<result column="page_buyCount" property="page_buyCount" />
		<result column="page_viewCount" property="page_viewCount" />
		<result column="end_time" property="end_time" />
		<result column="loseType" property="loseType" />
		<result column="lose_time" property="lose_time" />
		<result column="sequence" property="sequence" />
		<association property="subject" column="subject_id"
			select="com.mapper.SysSubjectMapper.getById" />
	</resultMap>

	<select id="query" parameterType="java.util.Map" resultMap="courseMap">
		select * from edu_course where 0 = 0
		<if test="add_time != null">
			and add_time &gt; #{add_time}
		</if>
		<if test="end_time != null">
			and add_time &lt; #{end_time}
		</if>
		<if test="qname != null">
			and course_name like '%${qname}%'
		</if>
		<if test="subject_id > 0">
			and subject_id = #{subject_id}
		</if>
		<choose>
			<when test="is_avaliable > 0">
				and is_avaliable = #{is_avaliable}
			</when>
			<otherwise>
				and is_avaliable in (1,2)
			</otherwise>
		</choose>

	</select>

	<select id="getById" parameterType="int" resultMap="courseMap">
		select * from
		edu_course where course_id = #{value}
	</select>

	<!-- 设置 课程_教师 中间关系表 -->
	<insert id="setTeacher" parameterType="java.util.Map">
		insert into
		edu_course_teacher values(#{course_id},#{teacher_id})
	</insert>

	<!-- 通过id 删除 课程_教师 中间关系表 的该课程所有关系 -->
	<delete id="removeCourseTeacher" parameterType="int">
		delete from
		edu_course_teacher where course_id = #{value}
	</delete>

	<!-- 插入课程 -->
	<insert id="add" parameterType="EduCourse">
		insert into edu_course values(
		null,#{course_name},#{is_avaliable},#{subject.subject_id},#{subject_link},#{add_time},#{source_price},
		#{current_price},#{title},#{context},#{lession_num},#{logo},#{add_time},#{page_buyCount},
		#{page_viewCount},#{end_time},#{loseType},#{lose_time},#{sequence},null
		)
		<selectKey keyProperty="course_id" resultType="java.lang.Integer">
			select
			LAST_INSERT_ID() as id
		</selectKey>
	</insert>

	<!-- 逻辑删除课程 -->
	<update id="remove" parameterType="int">
		update edu_course set
		is_avaliable = 3 where
		course_id = #{value}
	</update>

	<resultMap type="TeacherBean" id="TeacherBeanMap">
		<id property="id" column="id" />
		<result property="name" column="name" />
		<result property="th_name" column="th_name" />
		<result property="th_pw" column="th_pw" />
		<result property="education" column="education" />
		<result property="career" column="career" />
		<result property="is_star" column="is_star" />
		<result property="pic_path" column="pic_path" />
		<result property="status" column="status" />
		<result property="create_time" column="create_time" />
		<result property="update_time" column="update_time" />
		<result property="sort" column="sort" />
		<association property="subject_id" column="subject_id"
			select="com.mapper.SubjectMapper.getByIdSM"></association>
	</resultMap>

	<!-- 通过课程id获取TeacherBean集合 -->
	<select id="getTeacherByCourseId" parameterType="int" resultMap="TeacherBeanMap">
		select * from edu_teacher where id in (
		select teacher_id
		from
		edu_course_teacher where course_id = #{value}
		)
	</select>
    <!-- 修改课程 -->
	<update id="update" parameterType="EduCourse">

		<!-- private int course_id; //课程编号 -->
		<!-- private String courser_name; //课程名称 -->
		<!-- private int is_avaliable; //1正常2删除 -->
		<!-- private SysSubject subject; //课程专业ID -->
		<!-- private Date add_time; //添加时间 -->
		<!-- private int source_price; //课程原价格（只显示） -->
		<!-- private int current_price; //课程销售价格（实际支付价格）设置为0则可免费观看 -->
		<!-- private String title; //课程简介 -->
		<!-- private String context; //课程详情 -->
		<!-- private int lession_num; //总课时 -->
		<!-- private String logo; //图片路径 -->
		<!-- private Date update_time; //最后更新时间 -->
		<!-- private int page_buyCount; //销售数量 -->
		<!-- private int page_viewCount; //浏览数量 -->
		<!-- private Date end_time; //有效结束时间 -->
		<!-- private int loseType; //有效期类型，0：到期时间，1：按天数 -->
		<!-- private String lose_time; //有效期:商品订单过期时间点 -->
		<!-- private int sequence; //序列 -->

		<!-- null,#{course_name},#{is_avaliable},#{subject.subject_id},#{subject_link},#{add_time},#{source_price}, -->
		<!-- #{current_price},#{title},#{context},#{lession_num},#{logo},#{add_time},#{page_buyCount}, -->
		<!-- #{page_viewCount},#{end_time},#{loseType},#{lose_time},#{sequence},null -->

		update edu_course set
		course_name=#{course_name},
		is_avaliable=#{is_avaliable},
		subject_id=#{subject.subject_id},
		subject_link=#{subject_link},
		source_price=#{source_price},
		current_price=#{current_price},
		title=#{title},
		context=#{context},
		lession_num=#{lession_num},
		logo=#{logo},
		update_time=#{update_time},
		logo=#{logo},
		end_time=#{end_time},
		loseType=#{loseType},
		lose_time=#{lose_time}
		where course_id = #{course_id}
	</update>
	<!-- 课程id 查询所有课程节点 -->
	<select id="getKpointByCourseId" resultType="EduCourseKpoint"
		parameterType="int">
		select * from edu_course_kpoint where course_id =
		#{value}
	</select>

	<!-- 删除章节父节点下的所有子节点 -->
	<delete id="removeKpointByParentId" parameterType="int">
		delete from
		edu_course_kpoint where parent_id = #{value}
	</delete>

	<!-- 通过节点id删除课程节点 -->
	<delete id="removeKpointById" parameterType="int">
		delete from
		edu_course_kpoint where kpoint_id = #{value}
	</delete>

<!-- 添加课程章节 -->
	<insert id="addKpointParent" parameterType="EduCourseKpoint">
		<!-- private int kpoint_id; //主键 -->
		<!-- private int course_id; //课程id -->
		<!-- private String name; //节点名称 -->
		<!-- private int parent_id; //父级ID -->
		<!-- private Date add_time; //添加时间 -->
		<!-- private int sort; //显示排序 -->
		<!-- private int play_count; //播放次数 -->
		<!-- private int is_free; //是否可以试听1免费2收费 -->
		<!-- private String video_url;//视频地址 -->
		<!-- private int teacher_id; //讲师id -->
		<!-- private String play_time;//播放时间 -->
		<!-- private int kpoint_type; //节点类型 0文件目录 1视频 -->
		<!-- private String video_type;//视频类型 -->
		<!-- private String file_type;//VIDEO视频 AUDIO音频 FILE文档 TXT文本 ATLAS图片集 -->
		<!-- private String content; //文本 -->
		insert into edu_course_kpoint values(
		null,#{course_id},#{name},#{parent_id},#{add_time},#{sort},#{play_count},null
		,null,null,null,#{kpoint_type},null,null,null
		)
	</insert>
	<insert id="addKpoint" parameterType="EduCourseKpoint">
		insert into edu_course_kpoint values(
		null,#{course_id},#{name},#{parent_id},#{add_time},#{sort},#{play_count},#{is_free}
		,#{video_url},#{teacher_id},#{play_time},#{kpoint_type},#{video_type},#{file_type},null
		)
	</insert>

	<select id="getKpointById" parameterType="int" resultType="EduCourseKpoint">
		select * from edu_course_kpoint where kpoint_id = #{value}
	</select>
<!-- 修改节点 -->
	<update id="updateKpoint" parameterType="EduCourseKpoint">
		<!-- null,#{course_id},#{name},#{parent_id},#{add_time},#{sort},#{play_count},#{is_free} -->
		<!-- ,#{video_url},#{teacher_id},#{play_time},#{kpoint_type},#{video_type},#{file_type},null -->
		update edu_course_kpoint
		<set>
			<if test="name!=null">
				name = #{name},
			</if>
			<if test="sort!=null">
				sort = #{sort},
			</if>
			<if test="play_count!=null">
				play_count = #{play_count},
			</if>
			<if test="is_free!=null">
				is_free = #{is_free},
			</if>
			<if test="video_url!=null">
			    video_url = #{video_url},
			</if>
			<if test="teacher_id!=null">
				teacher_id = #{teacher_id},
			</if>
			<if test="play_time!=null">
				play_time = #{play_time},
			</if>
		</set>
	    where kpoint_id = #{kpoint_id}
	</update>
</mapper>