<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapper.Questions_tagMapper">
    <select id="listAll" resultType="Questions_tag">
    select * from edu_questions_tag where status=0
    </select>
    <update id="updateStatus" parameterType="int">
     update edu_questions_tag  set status=1 where questions_tag_id=#{id}
    </update>
    <select id="getById" parameterType="int" resultType="Questions_tag">
     select * from edu_questions_tag where questions_tag_id=#{id}
    </select>
    <update id="update" parameterType="Questions_tag">
     update edu_questions_tag set questions_tag_name=#{questions_tag_name},create_time=#{create_time} where questions_tag_id=#{questions_tag_id}
    </update>
    <insert id="save" parameterType="Questions_tag">
    insert into edu_questions_tag(questions_tag_name,status,create_time,parent_id) values(#{questions_tag_name},#{status},#{create_time},#{parent_id})
    </insert>
</mapper>