<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapper.QuestionsMapper">
	<resultMap type="com.bean.Questions" id="QuestionsMap">
		<result column="id" property="id" />
		<result column="title" property="title" />
		<result column="content" property="content" />
		<result column="type" property="type" />
		<result column="status" property="status" />
		<result column="reply_count" property="reply_count" />
		<result column="browse_count" property="browse_count" />
		<result column="praise_count" property="praise_count" />
		<result column="add_time" property="add_time" />
		<association property="edu_user" column="cus_id"
			select="com.mapper.Edu_UserDao.getById">
		</association>
		<association property="questions_tags" column="id"
			select="com.mapper.Questions_tagMapper.getBylistId">
		</association>
	</resultMap>
	<select id="listAll" resultMap="QuestionsMap" parameterType="java.util.Map">
		select * from edu_questions
		<where>
			<if test="title!=null">
				and title like '%${title}%'
			</if>
			<if test="type>0">
				and type=#{type}
			</if>
			<if test="start!=null">
				and add_time &gt; #{start}
			</if>
			<if test="end !=null">
				and add_time &lt; #{end}
			</if>
			<if test="flag==3">
				and status=0
			</if>
			<if test="flag==4">
				and type=1
			</if>
			<if test="flag==5">
				and type=2
			</if>
			<if test="flag==6">
				and BROWSE_COUNT &gt; 50
			</if>
		</where>
		<if test="flag==1">
			order by ADD_TIME desc
		</if>
		<if test="flag==2">
			order by BROWSE_COUNT desc
		</if>
	</select>
	<select id="getById" resultMap="QuestionsMap" parameterType="int">
		select * from edu_questions where id=#{id}
	</select>
	<delete id="delete" parameterType="int">
		delete from edu_questions
		where id=#{id}
	</delete>
	<update id="updatePraise" parameterType="int">
		update edu_questions set
		PRAISE_COUNT=PRAISE_COUNT+1 where ID=#{id}
	</update>
	<insert id="save" parameterType="Questions">
		insert into
		edu_questions(cus_id,title,content,type,status,reply_count,praise_count,add_time)
		values(#{edu_user.user_id},#{title},#{content},#{type},#{status},#{reply_count},#{praise_count},#{add_time})
	</insert>
	<insert id="saveRelation" parameterType="java.util.Map">
		insert into
		edu_questions_tag_relation(QUESTIONS_ID,QUESTIONS_TAG_ID)
		values(#{qid},#{tid})
	</insert>
	<select id="getMaxId" resultType="int">
		select max(id) from
		edu_questions
	</select>
	<update id="addBrowse_count" parameterType="int">
		update edu_questions
		set browse_count=browse_count+1 where ID=#{id}
	</update>
	<update id="addReply_count" parameterType="int">
		update edu_questions
		set reply_count=reply_count+1 where ID=#{id}
	</update>
	<delete id="deleteById" parameterType="int">
		delete from
		edu_questions_tag_relation where QUESTIONS_ID=#{value}
	</delete>
	<update id="updateReply_count" parameterType="int">
		update
		edu_questions
		set reply_count=reply_count-1 where ID=#{id}
	</update>
</mapper>